body{
    background-color: palevioletred;
    margin: 20px;
}   

#Cabeçalho{
    color: white; /*Cor que meu texto terá*/
    text-align: center; /*Alinha meu texto no centro*/
    border-radius: 10px; /*Arredondamento da borda*/
    background-color: rgb(255, 0, 0); /*Cor de fundo onde ficará o texto*/
    padding: 10px; /* Espaçamento entra os lados*/
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

a{
    color: black; 
    text-decoration: none; /*Remove a linha da Página principal e Sobre nós*/
}

.titulo{
    font-style: italic; /*Ilatic deixa o texto deitado*/
    font-weight: bolder; /*Peso da fonte*/
}

.Sub{
    color: darkgreen;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.zzz{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px ;
}

#Paragrafo{
    font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal; /*Escolhe o conjunto da fonte que meu texto terá*/
    font-size: 2em; /*Font-size é o tamanho da letra, 16px é igual a 1EM que é o tamanho "comum" de letras. A diferença é que o EM se adapta para o celular*/













}

